extends ../layout

block content
  .container
    .row.main
      .main-pdf
        include ../includes/nav
        #pdfName=currentUser._id
        .content_detail
            -function dateFormatChange(date) {
                -var newdate = new Date(date);
                -var options = { weekday: "short", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"};
                -return newdate.toLocaleTimeString("ko-KR", options);
            -}
            h3.content-title=question.title
            .content-info #{dateFormatChange(question.date)} / #{question.writer}
            .content-text=question.contents
            .addBtngroup
                if(question.user_Id == currentUser._id)
                    a.btn.btn-default(href='/question/delete?_method=DELETE&id=#{question._id}') 삭제
                a.btn.btn-default(href='javascript:window.history.back();') 확인

            h3 댓글
            table.table.table-striped
                thead.reply
                    tr
                        th.reply 작성자
                        th.title 내용
                        th 작성일
                tbody.reply_list
                    if(question.comments.length>0)
                        -var j = 0;
                        each comment in question.comments
                            if(j<5)
                                tr
                                    th= comment.name
                                    th= comment.memo
                                    th= comment.date
                                -j++;
                    else
                        tr
                            th 댓글이 없습니다.
             form(action='/question/reply?id=#{question._id}', method='post')
                .form-group
                    textarea.replyContents(name='addContents', rows='3')
                    button.btn.btn-default.replyButton(href='submit') 확인
             nav
                ul.pagination
                    -for(var i = 1; i<=replyPage;i++)
                        li
                            a(onclick="changePage(#{i}, #{currentUser._id});")=i

    script(type='text/javascript').
        function changePage(page, id) {
            $.get('/question/reply?id=#{question._id}&page='+page+"&max=#{question.comments.length}", function(replyList) {
                var output = '';
                for(var i=0;i<replyList.length;i++) {
                    output += '<tr><th>'+replyList[i].name+'</th>'
                    output += '<th>'+replyList[i].memo.replace(/\\r\\n/gi, " ")+'</th>';
                    output += '<th>'+dateFormatChangeScript(replyList[i].date);
                    if(replyList[i].user_id == id){
                        output += '<a href="/question/reply/delete?id=#{question._id}&replyId='+ replyList[i]._id +'">[삭제]</a></th></tr>';
                    }else{
                        output += '</th></tr>';
                    }
                }
                $('.reply_list').html(output);
            });

            $.ajax({
                url: '/question/reply?id=#{question._id}&page='+page+"&max=#{question.comments.length}",
                type: "get",
                success: function(data) {
                    var output = '';
                    for(var i=0;i<data.length;i++) {
                        output += '<tr><th>'+data[i].name+'</th>'
                        output += '<th>'+data[i].memo.replace(/\\r\\n/gi, " ")+'</th>';
                        output += '<th>'+dateFormatChangeScript(data[i].date);
                        if(data[i].user_id == id){
                            output += '<a href="/question/reply/delete?id=#{question._id}&replyId='+ data[i]._id +'">[삭제]</a></th></tr>';
                        }else{
                            output += '</th></tr>';
                        }
                    }
                    $('.reply_list').html(output);
                }
            });
        }

        function dateFormatChangeScript(date) {
            var newdate = new Date(date);

            var options = { weekday: "short", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"};

            return newdate.toLocaleTimeString("ko-KR", options);
        }
        (function () {
            var pdfName = document.getElementById("pdfName").innerHTML;
            changePage(1, pdfName);
        })()
