extends ../layout

block content
  .container
    .row.main
      .main-profile
        include ../includes/nav
        h1 My Page
        br
        .ex1
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        .caption.mypage
                            h3 프로필
                            p 이름: #{user.name}
                            p 팀: #{user.team}
                            p 피드백 팀: #{user.feedbackTeam1}, #{user.feedbackTeam2}
                .col-sm-6.col-md-4
                    .thumbnail
                        .caption.mypage
                            h3 팀원
                            each teamUser in users
                                p 이름: #{teamUser.name}
                .col-sm-6.col-md-4
                    .thumbnail
                        .caption.mypage
                            h3 사전 훈련
                            p 답안: #{user.feedback}
        each feedback in showFeedbacks
            if(feedback.projectNumber == "1")
                br
                .ex1
                    h2 1차 산출물
                    .row
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 과제
                                    p 
                                        a(href="/feedbacks/offer?id=#{feedback.id}&mod=show&projectNumber=1")=feedback.title
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 제공한 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 제공한 피드백
                                                th(scope='cols') 팀
                                        tbody#offerProject1
                                            -var j = 0;
                                            each offerFeedback in offerFeedbacks
                                                if(offerFeedback.projectNumber == "1")
                                                    each offerComment in offerFeedback.comments
                                                        if(offerComment.userId == user._id)
                                                            if(j<5)
                                                                tr
                                                                    th(scope='row')=offerComment.page
                                                                    td(class="feedback")=offerComment.memo
                                                                    td(class="name")=offerFeedback.user_Team
                                                                -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[1];i++)
                                                li
                                                    a(onclick="chageOfferFeedback('1',#{i},'#{offerMax[0]}');")=i
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 제공 받은 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 피드백
                                                th(scope='cols') 작성자
                                        tbody#showProject1
                                            -var j = 0;
                                            each comment in feedback.comments
                                                if(j<5)
                                                    tr
                                                        th(scope='row')=comment.page
                                                        td(class="feedback")=comment.memo
                                                        td(class="name")=comment.name
                                                    -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[0];i++)
                                                li
                                                    a(onclick="chageShowFeedback('#{feedback._id}',1,#{i},#{feedback.comments.length});")=i
            else
                br
                .ex1
                    h2 2차 산출물
                    .row
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 과제
                                    p 
                                        a(href="/feedbacks/offer?id=#{feedback.id}&mod=show&projectNumber=2")=feedback.title
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 제공한 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 제공한 피드백
                                                th(scope='cols') 팀
                                        tbody#offerProject2
                                            -var j = 0;
                                            each offerFeedback in offerFeedbacks
                                                if(offerFeedback.projectNumber == "2")
                                                    each offerComment in offerFeedback.comments
                                                        if(offerComment.userId == user._id)
                                                            if(j<5)
                                                                tr
                                                                    th(scope='row')=offerComment.page
                                                                    td(class="feedback")=offerComment.memo
                                                                    td(class="name")=offerFeedback.user_Team
                                                                -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[3];i++)
                                                li
                                                    a(onclick="chageOfferFeedback('2',#{i},'#{offerMax[1]}');")=i
                        .col-sm-6.col-md-4
                            .thumbnail
                                .caption.mypage
                                    h3 제공 받은 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 피드백
                                                th(scope='cols') 작성자
                                        tbody#showProject2
                                            -var j = 0;
                                            each comment in feedback.comments
                                                if(j<5)
                                                    tr
                                                        th(scope='row')=comment.page
                                                        td(class="feedback")=comment.memo
                                                        td(class="name")=comment.name
                                                    -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[2];i++)
                                                li
                                                    a(onclick="chageShowFeedback('#{feedback._id}',2,#{i},#{feedback.comments.length});")=i

    script(type='text/javascript').
        function chageShowFeedback(id, projectNumber,page,max) {
            $.get('/users/feedback?id='+id+'&page='+page+"&max="+max, function(replyList) {
                var output = '';
                for(var i=0;i<replyList.length;i++) {
                    output += '<tr"><th>'+replyList[i].page+'</th>'
                    output += '<td class="feedback">'+replyList[i].memo+'</td>';
                    output += '<td class="name">'+replyList[i].name+'</td></tr>';
                }
                if(projectNumber == 1){
                    $('#showProject1').html(output);
                }else if(projectNumber == 2){
                    $('#showProject2').html(output);
                }
            });
        }
        function chageOfferFeedback(projectNumber,page,max) {
            $.get('/users/offerFeedback?page='+page+"&max="+max+"&projectNumber="+projectNumber, function(replyList) {
                var output = '';
                for(var i=0;i<replyList.length;i++) {
                    output += '<tr"><th>'+replyList[i].page+'</th>'
                    output += '<td class="feedback">'+replyList[i].memo+'</td>';
                    output += '<td class="name">'+replyList[i].userTeam+'</td></tr>';
                }
                if(projectNumber == "1"){
                    $('#offerProject1').html(output);
                }else if(projectNumber == "2"){
                    $('#offerProject2').html(output);
                }
            });
        }