extends ../layout

block content
  .container
    .row.main
      .main-profile
        include ../includes/nav
        h1 나의 공간
        br
        .ex1
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        .caption.mypage
                            h3 프로필
                            p 이름: #{user.name}
                            p 내가 속한 팀: #{user.team}팀 (팀원:
                                each teamUser in users
                                    sapn  #{teamUser.name}, 
                                span )
                            p 피드백을 제공할 팀: #{user.feedbackTeam1}팀, #{user.feedbackTeam2}팀
                .col-sm-6.col-md-8
                    .thumbnail
                        .caption.mypage
                            h3 사전 훈련
                            p 답안: #{user.feedback}
        each feedback in showFeedbacks
            if(feedback.projectNumber == "1")
                br
                .ex1
                    h2 기획안
                    .row
                        .col-sm-6.col-md-3
                            .thumbnail
                                .caption.mypage
                                    h3 과제
                                    p 
                                        a(href="/feedbacks/offer?id=#{feedback.id}&mod=show&projectNumber=1")=feedback.title
                        .col-sm-6.col-md-9
                            .thumbnail
                                .caption.mypage
                                    h3 제공 받은 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 피드백
                                                th(scope='cols') 작성자
                                        tbody#showProject1
                                            -var j = 0;
                                            each comment in feedback.comments
                                                if(j<5)
                                                    tr
                                                        th(scope='row')=comment.page
                                                        td(class="feedback")=comment.memo
                                                        td(class="name")=comment.name
                                                    -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[0];i++)
                                                li
                                                    a(onclick="chageShowFeedback('#{feedback._id}',1,#{i},#{feedback.comments.length});")=i
            else
                br
                .ex1
                    h2 컨텐츠 내용
                    .row
                        .col-sm-6.col-md-3
                            .thumbnail
                                .caption.mypage
                                    h3 과제
                                    p 
                                        a(href="/feedbacks/offer?id=#{feedback.id}&mod=show&projectNumber=2")=feedback.title
                        .col-sm-6.col-md-9
                            .thumbnail
                                .caption.mypage
                                    h3 제공 받은 피드백
                                    table.type09
                                        thead
                                            tr
                                                th(scope='cols') 페이지
                                                th(scope='cols') 피드백
                                                th(scope='cols') 작성자
                                        tbody#showProject2
                                            -var j = 0;
                                            each comment in feedback.comments
                                                if(j<5)
                                                    tr
                                                        th(scope='row')=comment.page
                                                        td(class="feedback")=comment.memo
                                                        td(class="name")=comment.name
                                                    -j++;
                                    nav
                                        ul.pagination
                                            -for(var i = 1; i<=replyPage[2];i++)
                                                li
                                                    a(onclick="chageShowFeedback('#{feedback._id}',2,#{i},#{feedback.comments.length});")=i

    script(type='text/javascript').
        function chageShowFeedback(id, projectNumber,page,max) {
            $.get('/users/feedback?id='+id+'&page='+page+"&max="+max, function(replyList) {
                var output = '';
                for(var i=0;i<replyList.length;i++) {
                    output += '<tr"><th>'+replyList[i].page+'</th>'
                    output += '<td class="feedback">'+replyList[i].memo+'</td>';
                    output += '<td class="name">'+replyList[i].name+'</td></tr>';
                }
                if(projectNumber == 1){
                    $('#showProject1').html(output);
                }else if(projectNumber == 2){
                    $('#showProject2').html(output);
                }
            });
        }