extends ../layout

block content
  .container
    .row.main
      .main-pdf
        include ../includes/nav
        h1.page-header 회원 목록
        table.table.table-striped.table-bordered
            thead
                tr
                    th 이름
                    th 이메일
                    th 팀
                    th 팀 선택
                    th 피드백 팀
            tbody
                each user in users
                    if (user.admin == 0)
                    else
                        tr
                            td= user.name
                            td= user.email
                            td= user.team
                            td
                                .dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                        | 팀
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li
                                            a(href='/users/team?_method=PUT&id='+user._id+'&teamNumber=1') 1
                                        li
                                            a(href='/users/team?_method=PUT&id='+user._id+'&teamNumber=2') 2
                                        li
                                            a(href='/users/team?_method=PUT&id='+user._id+'&teamNumber=3') 3
                                        li
                                            a(href='/users/team?_method=PUT&id='+user._id+'&teamNumber=4') 4
                            td #{user.feedbackTeam1} / #{user.feedbackTeam2}
        .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                | 피드백 팀 정하기
                span.caret
            ul.dropdown-menu(role='menu')
                li
                    a(href='/users/feedbackTeam?_method=PUT&teamCount=2') 2팀
                li
                    a(href='/users/feedbackTeam?_method=PUT&teamCount=3') 3팀
                li
                    a(href='/users/feedbackTeam?_method=PUT&teamCount=4') 4팀