extends ../layout

block content
  .container
    h1.page-header 게시판

    table.table.table-bordered
      thead
        tr
          th No.
          th Title
          th Writer
          th Date
          th Count
      tbody
        each board in boards
          tr
            td= board._id
            td
              a(href='/boards/#{board._id}')= board.title
            td= board.writer
            td= board.date
            td= board.count
    a.btn.btn-primary(href='/board/new') 게시판 작성하기