extends ../layout

block content
  .container
    .row.main
      .main-pdf
        h1 Q&A
        table.type09
            if(questions.length > 0)
                thead
                    tr
                        th(scope='cols') 번호
                        th(scope='cols') 제목
                        th(scope='cols') 작성자
                tbody
                        each question in questions
                            tr
                                th(scope='row')=question.number
                                td(class="title")
                                    a(href="/question/show?id=#{question.id}") #{question.title} [#{question.count}]
                                td=question.writer
            else
                tr
                    td(class="title") 게시물이 없습니다.
                
        a.btn.btn-default(href='/main') 뒤로가기
        a.btn.btn-default(href="/question/new") 질문하기

        nav
        ul.pagination
            -for(var i= 1; i<=pagination; i++)
                li
                    a(href="/question?page=#{i}")=i
