extends ../layout

block content
  .container
    .row.main
      .main-pdf
        include ../includes/nav
        if(mod == "show")
            if(projectNumber == "1")
                h1 기획안 피드백 받기
            else if(projectNumber == "2")
                h1 컨텐츠 내용 피드백 받기
        else if(mod == "offer")
            if(projectNumber == "1")
                h1 기획안 피드백 제공
            else if(projectNumber == "2")
                h1 컨텐츠 내용 피드백 제공
        else
            h1 최종 컨텐츠 내용
        table.type09
            if(feedbacks.length > 0)
                thead
                    tr
                        th(scope='cols') 팀번호
                        th(scope='cols') 제목
                        th(scope='cols') 작성자
                tbody
                        each feedback in feedbacks
                            tr
                                th(scope='row')=feedback.user_Team
                                td(class="title")
                                    a(href="/feedbacks/offer?id=#{feedback.id}&mod=#{mod}&projectNumber=#{projectNumber}") #{feedback.title}
                                td=feedback.writer
            else
                tr
                    td(class="title") 게시물이 없습니다.

        nav
        ul.pagination
            -for(var i= 1; i<=pagination; i++)
                li
                    a(href="/feedbacks?page=#{i}")=i
